{% extends "layout.html" %}

{% block title %}Application | {{ block.super }}{% endblock %}

{% block content %}

<div class="circle--actions--bar action-bar">
    <div class="bounds">
        <div class="grid-100">
            <h2>Applications</h2>
        </div>
    </div>
</div>


<div class="bounds circle--page">
    <div class="grid-25">

        <!-- Status -->
        <div class="circle--filter circle--secondary--module">
            <h4>Status</h4>
            <ul class="circle--filter--list">


                {% if app_list %}
                    <li><a href="{% url 'accounts:application' %}" {% if not app_selected %} class="selected"{% else %} class="my-button"{% endif %}>All Applications</a></li>
                    {% for application in app_list %}
                        <li><a href="?app_filter={{ application }}"{% if app_selected == application %} class="selected"{% else %} class="my-button"{% endif %}>{{ application }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>N/A</li>
                {% endif %}
            </ul>
        </div>

        <!-- My projects -->
        <div class="circle--filter circle--secondary--module">
            <h4>My Projects</h4>
                <ul class="circle--filter--list">

                    {% if projects %}
                        <li><a href="{% url 'accounts:application' %}" {% if not pro_selected %} class="selected"{% else %} class="my-button"{% endif %}>All projects</a></li>
                        {% for project in projects %}
                            <li><a href="?pro_filter={{ project.title }}"{% if pro_selected == project.title %} class="selected"{% else %} class="my-button"{% endif %}>{{ project.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>N/A</li>
                    {% endif %}
                </ul>
        </div>

        <!-- Project needs/ skills -->
        <div class="circle--filter circle--secondary--module">
            <h4>Project Needs</h4>
                <ul class="circle--filter--list">

                    {% if skills_list %}
                        <li><a href="{% url 'accounts:application' %}" {% if not skill_selected %} class="selected"{% else %} class="my-button"{% endif %}>All Needs</a></li>
                        {% for skill in skills_list %}
                            <li><a href="?skill_filter={{ skill.name }}"{% if skill_selected == skill.name %} class="selected"{% else %} class="my-button"{% endif %}>{{ skill.name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>N/A</li>
                    {% endif %}
                </ul>
        </div>

    </div>

    <!-- Displayed table -->
    <div class="grid-70 grid-push-5">
        <table class="u-full-width circle--table">
            <thead>
                <tr>
                <th><h3>Applicant</h3></th>
                <th class="circle--cell--right"><h3>Applicant Position</h3></th>
                <th class="circle--cell--right"><h3>Status</h3></th>
                </tr>
            </thead>

            <tbody>
                {% for application in applications %}
                <div class="d-flex fustify-content-between">
                    <tr class="clickable-row" data-href="{% url 'accounts:profile' application.applicant.pk %}">
                        <td>
                            <h3 class="title">{{ application.applicant.full_name }}</h3>
                            <p class="">{{ application.project }}</p>
                        </td>
                        <td class="circle--cell--right">
                            <span class="secondary-label h4 pos">{{ application.position }}</span>
                        </td>

                        <div class="d-flex justify-content-between">
                            {% if application.status == None %}
                                <td>
                                    <a class="button nav_button button-accept accepted mr-2"
                                       href="{% url 'accounts:decision_update' application.applicant.pk application.position.pk 'accept' %}">Accept</a>
                                    <a class="button nav_button button-accept rejected ml-2"
                                       href="{% url 'accounts:decision_update' application.applicant.pk application.position.pk 'reject' %}">Reject</a>
                                </td>
                            {% elif application.status %}
                                <td><h5 class="h4 accepted">Accepted</h5></td>
                            {% elif not application.status %}
                                <td><h5 class="h4 rejected">Rejected</h5></td>
                            {% endif %}
                        </div>
                    </tr>
                </div>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>
{% endblock %}