{% extends "layout.html" %}

{% block title %}Application | {{ block.super }}{% endblock %}

{% block content %}
<div class="bounds circle--page">
    <div class="circle--page--header grid-100">
        <h2>Applications</h2>
    </div>

    <div class="grid-25">

        <!-- Status -->
        <div class="circle--filter circle--secondary--module">
            <h4>Status</h4>
            <ul class="circle--filter--list">


                {% if app_list %}
                    <li><a href="{% url 'accounts:application' %}" {% if not app_selected %} class="selected"{% endif %}>All Applications</a></li>
                    {% for application in app_list %}
                        <li><a href="?app_filter={{ application }}"{% if app_selected == application %} class="selected"{% endif %}>{{ application }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>N/A</li>
                {% endif %}

                <!--<li><a class="selected">All Applications</a></li>-->
                <!--<li><a>New Applications</a></li>-->
                <!--<li><a>Accepted</a></li>-->
                <!--<li><a>Rejected</a></li>-->
            </ul>
        </div>

        <!-- My projects -->
        <div class="circle--filter circle--secondary--module">
            <h4>My Projects</h4>
                <ul class="circle--filter--list">

                    {% if projects %}
                        <li><a href="{% url 'accounts:application' %}" {% if not pro_selected %} class="selected"{% endif %}>All projects</a></li>
                        {% for project in projects %}
                            <li><a href="?pro_filter={{ project.title }}"{% if pro_selected == project.title %} class="selected"{% endif %}>{{ project.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>N/A</li>
                    {% endif %}
                    <!---->
                    <!--<li><a class="selected">All Projects</a></li>-->
                    <!--{% for pro in projects %}-->
                    <!--<li><a>{{ pro }}</a></li>-->
                    <!--{% endfor %}-->
                </ul>
        </div>

        <!-- Project needs/ skills -->
        <div class="circle--filter circle--secondary--module">
            <h4>Project Needs</h4>
                <ul class="circle--filter--list">

                    {% if skills_list %}
                        <li><a href="{% url 'accounts:application' %}" {% if not skill_selected %} class="selected"{% endif %}>All Needs</a></li>
                        {% for skill in skills_list %}
                            <li><a href="?skill_filter={{ skill.name }}"{% if skill_selected == skill.name %} class="selected"{% endif %}>{{ skill.name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>N/A</li>
                    {% endif %}

                    <!--<li><a class="selected">All Needs</a></li>-->
                    <!--{% for skill in positions %}-->
                    <!--<li><a>{{ skill.name }}</a></li>-->
                    <!--{% endfor %}-->
                </ul>
        </div>

    </div>

    <!-- Displayed table -->
    <div class="grid-70 grid-push-5">
        <table class="u-full-width circle--table">
            <thead>
                <tr>
                <th>Applicant</th>
                <th class="circle--cell--right">Applicant Position</th>
                </tr>
            </thead>

            <tbody>
                {% for application in applications %}
                    <tr class="clickable-row" data-href="{% url 'accounts:profile' application.applicant.pk %}">
                    <td>
                        <h3>{{ application.applicant.full_name }}</h3>
                        <p>{{ application.project }}</p>
                    </td>
                    <td class="circle--cell--right">
                        <span class="secondary-label">{{ application.position }}</span>
                    </td>
                    {% if application.applicant.id == request.user.id %}
                        <td>
                            <h5>
                                This can be accepted or rejected only by
                                <strong><i>{{ application.project.user.full_name }}</i></strong>
                            </h5>
                        </td>
                    {% else %}
                        {% if application.status == None %}
                            <td>
                                <a class="button button-primary"
                                   href="{% url 'accounts:decision_update' application.applicant.pk application.position.pk 'accept' %}">Accept</a>
                            </td>
                            <td>
                                <a class="button button-primary"
                                   href="{% url 'accounts:decision_update' application.applicant.pk application.position.pk 'reject' %}">Reject</a>
                            </td>
                        {% elif application.status %}
                            <td><h5>Accepted</h5></td>
                        {% elif not application.status %}
                            <td><h5>Rejected</h5></td>
                        {% endif %}
                    {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>
{% endblock %}