{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Avatar Edit | {{ block.super }}{% endblock %}

{% block content %}
<div class="bounds circle--page">
    <div class="grid-100">
        {% if user.avatar %}
            <div class="card">
                <img src="{{ user.avatar.url }}"
                     alt="{{ user.username }}"
                     class="card-image-top mb-4"
                     style="width: 100%; height: 80%">
                <div class="card-body d-flex justify-content-between ml-2">
                    <a href="{% url 'accounts:edit_avatar' 'right' %}" class="button nav_button">Rotate Right</a>
                    <a href="{% url 'accounts:edit_avatar' 'left' %}" class="button nav_button">Rotate Left</a>
                    <a href="{% url 'accounts:edit_avatar' 'up' %}" class="button nav_button">Flip Up</a>
                    <a href="{% url 'accounts:edit_avatar' 'side' %}" class="button nav_button">Flip Side</a>
                    <a href="{% url 'accounts:crop_avatar' %}" class="button nav_button">Crop</a>
                </div>
            </div>

                <div class="grid-100 d-flex justify-content-between">
                    {% if size %}
                        <h3>Size: {{ size }}</h3>
                        <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="d-flex justify-content-between mt-5">
                            <div class="grid-20">
                                <h4>Left (0 - max):</h4>
                                <input name="left" type="text" required>
                            </div>
                            <div class="grid-20">
                                <h4>Top (0 - max):</h4>
                                <input name="top" type="text" required>
                            </div>
                            <div class="grid-20">
                                <h4>Right (0 - max):</h4>
                                <input name="right" type="text" required>
                            </div>
                            <div class="grid-20">
                                <h4>Bottom (0 - max):</h4>
                                <input name="bottom" type="text" required>
                            </div>
                        </div>
                            <button type="submit" class="button nav_button">Apply!</button>
                            <a class="button nav_button" href="{% url 'accounts:profile' user.id %}">Back</a>
                        </form>
                    {% else %}
                        <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                            <a class="button nav_button mt-5">Upload avatar
                                <input name="avatar" type="file">
                            </a>
                            <button type="submit" class="button nav_button">Apply!</button>
                            <a class="button nav_button" href="{% url 'accounts:profile' user.id %}">Back</a>
                        </form>
                    {% endif %}
                </div>
        {% else %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="button nav_button mt-5">Upload avatar
                    <input name="avatar" type="file">
                </a>
                <button type="submit" class="button nav_button">Apply!</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}