{% extends "layout.html" %}

{% block title %}Profile Edit | {{ block.super }}{% endblock %}

{% block media %}{{ form.media }}{% endblock %}

{% block content %}

<div class="circle--actions--bar action-bar">
    <div class="container">
        <div class="grid-100 d-flex justify-content-between">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>{{ page_title }}</h2>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <input type="submit" form="my_form" value="Save profile" class="button nav_button">
            </div>
        </div>
    </div>
</div>

<!-- PROFILE FORM -->
<div class="bounds circle--page">
    <form action="" method="POST" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<div class="circle&#45;&#45;page&#45;&#45;header circle&#45;&#45;fluid">-->
            <!--<div class="circle&#45;&#45;fluid&#45;&#45;cell circle&#45;&#45;fluid&#45;&#45;primary">-->
                <!--<h2>{{ page_title }}</h2>-->
            <!--</div>-->

            <!--<div class="circle&#45;&#45;fluid&#45;&#45;cell circle&#45;&#45;fluid&#45;&#45;secondary">-->
                <!--<input type="submit" form="my_form" value="Save profile" class="button nav_button">-->
            <!--</div>-->
        <!--</div>-->

        <div class="grid-70">
            <div class="d-flex justify-content-between">
                <div class="grid-40">
                    <label>Username:</label>
                    <input name="username" type="text" value="{{ form.username.value }}" required>
                </div>
                <div class="grid-40">
                    <label>Email:</label>
                    <input name="email" type="text" value="{{ form.email.value }}" required>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="grid-40">
                    <label >First name:</label>
                    <input name="first_name" type="text" value="{{ form.first_name.value }}" required>
                </div>
                <div class="grid-40">
                    <label>Last name:</label>
                    <input name="last_name" type="text" value="{{ form.last_name.value }}" required>
                </div>
            </div>

            <div class="circle--article--body">
                <label>{{ form.bio.label_tag }}</label>
                <p>{{ form.bio }}<i>This input use <strong>MarkDown</strong></i></p>
            </div>

        </div>

        <div class="grid-25 grid-push-5">

            <!-- Avatar -->
            <div class="circle--secondary--module">
                <label>Current avatar:</label>
                <div class="card pr-auto" style="width: 30rem;">
                    {% if profile.avatar %}
                        <img class="card-img-top" src="{{ profile.avatar.url }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="{% static 'images/avatar.png' %}"
                     alt="Card image cap" height="220px" style="max-width: 167px;">
                    {% endif %}
                </div>
                <a class="button nav_button mt-5">Upload avatar
                    <input name="avatar" type="file">
                </a>
            </div>

            <!-- Skills -->
            <div class="circle--secondary--module">
                <h4>My Skills</h4>
                {{ skill_formset.management_form }}
                <ul class="circle--clone--list">
                {% for skill in skill_formset %}

                        <li class="skill-formset">
                        {{ skill.id }}
                        <p>{{ skill.name }}</p>
                        <!--<a class="circle&#45;&#45;clone&#45;&#45;add">Add Skill</a>-->
                        <!--<a class="circle&#45;&#45;clone&#45;&#45;remove">Remove</a>-->
                        <p>{{ skill.DELETE }}</p>
                        </li>
                {% endfor %}
                </ul>
            </div>

            <!-- My Projects -->
            <div class="circle--secondary--module">
                <h4>My Projects</h4>
                {{ project_formset.management_form }}
                {% for project in project_formset %}
                    {{ project.id }}
                    <ul class="circle--clone--list">
                        <li class="project-formset">
                            <label>{{ project.name.label_tag }}</label>
                            <p>{{ project.name }}</p>
                            <label>{{ project.url.label_tag }}</label>
                            <p>{{ project.url }}</p>
                        <!--<a class="circle&#45;&#45;clone&#45;&#45;add">Add Skill</a>-->
                        <!--<a class="circle&#45;&#45;clone&#45;&#45;remove">Remove</a>-->
                            <p>{{ project.DELETE }}</p>
                        </li>
                    </ul>
                {% endfor %}
            </div>

        </div>
    </form>
</div>

{% endblock %}

{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {% load static from staticfiles %}
    {{ form.media.js }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.skill-formset').formset({
            addText: 'Add Skill',
            deleteText: 'Remove'
        });
        $('.project-formset').formset({
            addText: 'Add Project',
            deleteText: 'Remove'
        });
    </script>
{% endblock %}

<script type='text/javascript'>
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});
</script>