{% extends "layout.html" %}
{% load extra_tags %}
{% load static %}
{% block title %}Profile | {{ block.super }}{% endblock %}
{% block media %}{{ form.media }}{% endblock %}

{% block content %}

<!-- Action Bar -->
{% if user.is_authenticated and request.user == profile %}
<div class="circle--actions--bar action-bar">
    <div class="container">
        <div class="grid-100 d-flex justify-content-between">
            <div class="circle--fluid--cell circle--fluid--primary d-flex justify-content-between">
                <h1>{{ profile }}'s Profile</h1>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary d-flex justify-content-between">
                <a class="button nav_button" href="{% url 'accounts:profile_edit' %}">Edit profile</a>
                <a href="{% url 'accounts:avatar_edit' %}" class="button nav_button ml-4">Edit avatar</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="bounds circle--page">

    <div class="grid-70">

        <!-- User
        ---------------------------------------------------- -->
        <div class="circle--article--body">
            <div class="d-flex justify-content-start">
                <h1 class="my-color"><strong>{{ profile.full_name }}</strong></h1>
            </div>
            <i class="user-info">{{ profile.email }}</i>
            <p>{{ profile.bio|mark_down }}</p>
        </div>

        <!-- My projects
        ---------------------------------------------------- -->
        <h2>Past Projects</h2>
        <table class="u-full-width circle--table">
            <thead>
            </thead>
            <tbody>
                {% if past_projects %}
                    {% for pro in past_projects %}
                        <tr class="clickable-row" data-href="project.html">
                            <td><h3 class="my-button">{{ pro }}</h3></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td><h3>N/A</h3></td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="grid-25 grid-push-5">

        <!-- Avatar
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="circle--secondary--module">
            <div class="card pr-auto" style="max-width: 167px;">
            {% if profile.avatar %}
                <img class="card-img-top" src="{{ profile.avatar.url }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="{% static 'images/avatar.png' %}"
                     alt="Card image cap" height="220px" style="max-width: 167px;">
            {% endif %}
            </div>
        </div>

        <!-- Skills
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="circle--secondary--module">
            <h4>My Skills</h4>
            <ul class="circle--link--list">
                {% if skills %}
                    {% for skill in skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <!-- My Projects
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="circle--secondary--module">
            <h4>My Projects</h4>
            <ul class="circle--link--list">
                {% if my_projects %}
                    {% for project in my_projects %}
                        <li>{{ project.name }}</li>
                        <li><a href="{{ project.url }}">{{ project.url }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}
