.body {
    color: #eaeaea;
    background-color: #231F26;
}

a:hover {
    text-decoration: none !important;
}
.messages {
    list-style: none;
}

.action-bar {
    background-color: #1F1C21;
}

.my-button {
    color: #EAEAEA;
    box-shadow: 0 0 0 2px #EAEAEA inset;
}

.my-button-del {
    color: #C9005E;
    box-shadow: 0 0 0 2px #C9005E inset;
}

.my-button-del:hover {
    color: #EAEAEA;
    box-shadow: 0 0 0 2px #EAEAEA inset;

}

.my-color {
    color:#3098FF;
}

.my-color-del {
    color: #FF005D;
}

.custom-navbar {
    background-color: #1A171C;
}

code {
    background-color: #0b0b0b;
    border: 0px solid #3098FF;
    color: #C000FF;
}

/* #7B00E0 purple
e83e8c markdown text*/
