{% extends "layout.html" %}

{% block title %}Create Project | {{ block.super }}{% endblock %}

{% block media %}{{ form.media }}{% endblock %}

{% block content %}

  <div class="circle--actions--bar action-bar">
    <div class="bounds">
      <div class="grid-100">
          <div class="circle--fluid--cell circle--fluid--primary d-flex justify-content-between">
              <h2>{{ page_title }}</h2>
              <div class="d-flex justify-content-end">
                  <input type="submit" form="my_form" value="Save project" class="button nav_button mr-3">
                  <a class="button nav_button button-discard" href="{% url 'projects:project_list' %}">Discard</a>
              </div>
          </div>


      </div>
    </div>
  </div>


<!-- PROJECT FORM -->
<div class="bounds circle--page circle--article">
    <form action="" method="POST" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Project Title - Description -->
        <div class="grid-70">
            <!--<input id="id_title" name="title" type="text" value="{{ form.title }}" required>-->
            <h3>Title:</h3>
            <input id="id_title" name="title" type="text" required>

            <div class="circle--article--body">
                <h3>Description:</h3>
                <p>{{ form.description }}<i>This input use <strong>MarkDown</strong></i></p>

                <hr class="my-5">

            <!-- Position Formset -->
            <div class="circle--project--positions">
                <h3>Positions</h3>

                {{ position_formset.management_form }}
                <ol class="circle--clone--list">
                    {% for position in position_formset %}
                        <li class="position-formset">
                            {{ position.id }}
                            <label>{{ position.name.label_tag }}</label>
                            <p>{{ position.name }}</p>
                            <label>{{ position.description.label_tag }}</label>
                            <p>{{ position.description }}<i>This input use <strong>MarkDown</strong></i></p>


                            <label >{{ position.time.label_tag }}</label>
                            <p>{{ position.time }}</p>
                            <label>{{ position.skill.label_tag }}</label>
                            <p>{{ position.skill }}</p>
                    <!--<a class="circle&#45;&#45;clone&#45;&#45;add">Add Position</a>-->
                    <!--<a class="circle&#45;&#45;clone&#45;&#45;remove">Remove</a>-->
                            <p>{{ position.DELETE }}</p>
                            <hr>
                        </li>
                    <hr class="my-5">
                    {% endfor %}
                </ol>
            </div>
            </div>
            <input type="submit" form="my_form" value="Save project" class="button nav_button">
        </div>

        <!-- Time estimate / Applicant Requirements -->
        <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                <label for="id_time_estimate"></label>
                <input id="id_time_estimate" name="time_estimate" type="text" required>

            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                <label for="id_requirements"></label>
                <input id="id_requirements" name="requirements" type="text" required>

            </div>

        </div>
    </form>
  </div>
{% endblock %}

{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {% load static from staticfiles %}
    {{ form.media.js }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.position-formset').formset({
            addText: 'Add Position',
            deleteText: 'Remove'
        });
    </script>
{% endblock %}