{% extends "layout.html" %}

{% block title %}Edit Project | {{ block.super }}{% endblock %}

{% block media %}{{ form.media }}{% endblock %}


{% block content %}

    <!-- Nav bar -->
    <div class="circle--actions--bar">
        <div class="bounds">
            <div class="grid-100">
                <input type="submit" form="my_form" value="Save changes" class="button button-primary icon-on-left">
                <a class="button button-text" href="{% url 'projects:delete' project.pk %}">Delete Project</a>
            </div>
        </div>
    </div>

<div class="bounds circle--page circle--article">


    <form action="" method="POST" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}
        <!--{{ form.as_table }}-->

        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>{{ page_title }}</h2>
            </div>

            <div class="circle--fluid--cell circle--fluid--secondary">
                <input type="submit" form="my_form" value="Save changes" class="button button-primary icon-on-left">
            </div>
        </div>

    <div class="grid-70">

            <h3>Title:</h3>

            <input id="id_title" name="title" type="text" value="{{ form.title.value }}" required>

            <div class="circle--article--body">
                <label>{{ form.description.label_tag }}</label>
                {{ form.description }}
                <h5>This input use <strong>MarkDown</strong></h5>
            </div>

      <div class="circle--project--positions">
        <h2>{{ page_title }}</h2>

        <ul class="circle--group--list circle--clone--list">
          <li>
            <input type="text" class="circle--input--h3" placeholder="Position Title" value="iOS Developer" />
            <textarea placeholder="Position description...">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
            <a class="circle--clone--add">Add Position</a>
            <a class="circle--clone--remove">Remove</a>
          </li>

          <li>
            <input type="text" class="circle--input--h3" placeholder="Position Title" value="Designer" />
            <textarea placeholder="Position description...">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
            <a class="circle--clone--add">Add Position</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
        </ul>

        <a class="button button-primary" href="project.html">Save Changes</a>

      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <textarea placeholder="Time estimate" class="circle--textarea--input">10 hours</textarea>
      </div>

      <div class="circle--secondary--module">
        <h3>Application Requirements</h3>
        <textarea>Applicants are required to work from our headquarters located in Antarctica.</textarea>
      </div>

        </div>
    </form>
</div>
{% endblock %}