{% extends "layout.html" %}

{% block title %}Delete {{ project }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="bounds circle--page circle--article d-flex justify-content-between">
    <div class="grid-50">
    <form action="" method="POST">
        {% csrf_token %}
        <h4>Sure you want to delete {{ project }}?</h4>
        <p>Deleting will definitely delete the project!</p>
        <div class="grid-30">
            <button class="button nav_button rejected" type="submit">Yes</button>
        </div>
        <div class="grid-30">
            <a class="button nav_button" href="{% url 'projects:project_list' %}">No</a>
        </div>
    </form>
    </div>
</div>
{% endblock %}